html{
	width: 100%;

	height: 100%;
}


body{
	width: 100%;

	height: 100%;
}


.topBar {


}


.soundBoard {


}


.card {


}


.defaultCard {
	/*display: none;*/
}

.card> img {

		border-radius: 50% 50% 50% 50%;
}