html{
	width: 100%;

	height: 100%;
}


body{
	width: 100%;

	height: 100%;
}


.topBar {


}


.hidden{

	display: none;
}


#playerFrame{
	
	z-index: 5;

	position: fixed;

	width: 100%;

}


#soundBoard {

	display: flex;

	flex-wrap: wrap;

	justify-content: space-between;
}


.card {

	min-width: 150px;
	min-height: 150px;
}


.defaultCard {
	/*display: none;*/
}

.card> img {
	
	min-width: 150px;
	
	border-radius: 50% 50% 50% 50%;
	}




















