

.addButtonModal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
  opacity: 0;
  transition: opacity .5s;
  background-color: rgba(100,100,100,.7);
  background-image:
    linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
    linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
    radial-gradient(gray 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}

.backBlack {
  display: inline-block;
  padding: .2rem;
  border-radius: 1rem;
  background-color: rgba(200, 200, 200, 0.8);
  margin: .5rem;
}


#cancleModal {
  position: absolute;
  top: .5rem;
  right: .5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: red;
  color: black;
  cursor: pointer;
}

.thumbsDisplay {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbsDisplay > .videoButton {
  margin: .4rem;
}

.visible {
  display: block;
  opacity: 100;
}
